Vagrant.configure("2") do |config|
  
  config.vm.box = "centos/7"
  config.vm.network "forwarded_port", adapter: 1, guest: 22, host: 2222, id: "ssh"
  config.vm.network "forwarded_port", adapter: 1, guest: 80, host: 80
  config.vm.network "forwarded_port", adapter: 1, guest: 3000, host: 3000   
  config.vm.network "forwarded_port", adapter: 1, guest: 3001, host: 3001   # www-chatshier
  config.vm.network "forwarded_port", adapter: 1, guest: 3002, host: 3002   # api-chatshier
  # config.vm.network "forwarded_port", adapter: 1, guest: 80, host: 8080     # api-chatshier http
  config.vm.network "forwarded_port", adapter: 1, guest: 443, host: 8443    # api-chatshier https
  config.vm.network "forwarded_port", adapter: 1, guest: 81, host: 8081     # react-chatshier http
  config.vm.network "forwarded_port", adapter: 1, guest: 444, host: 8444     # react-chatshier https
  config.vm.network "forwarded_port", adapter: 1, guest: 9229, host: 9229   # Node inspect
  config.vm.network "forwarded_port", adapter: 1, guest: 9222, host: 9222   # Chrome dev
  config.vm.network "forwarded_port", adapter: 1, guest: 27017, host: 27017 # MongoDB
  config.vm.network "forwarded_port", adapter: 1, guest: 9200, host: 9200   # Elasticsearch
  config.vm.network "forwarded_port", adapter: 1, guest: 3306, host: 3306   # MySQL

  #config.vm.hostname = "fea.chatshier.com"
  config.vm.synced_folder "../../projects", "/home/vagrant/www"
  config.vm.synced_folder ".", "/vagrant", disabled: true

  config.ssh.username = "vagrant"
  #config.ssh.password = "vagrant"
  config.ssh.forward_agent = true

  config.vm.provider "virtualbox" do |vb|
    vb.name = "9thflr"
    vb.gui = false
    vb.cpus = 2
    vb.memory = "2048"
    vb.customize ["setextradata", :id, "VBoxInternal2/SharedFoldersEnableSymlinksCreate/v-root", "1"]  # allow virtualbox to enalbe symlinks
  end


end